/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after
{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,body
{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}

img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


body
{
    width: 1920px;
    padding: 100px 460px 0 460px;
}

.main-photo
{
    width: 410px;
    padding: 0 60px 0 20px;
    float: left;
}

.user-status
{
    width: 590px;
    padding: 50px 20px 50px 0;
    line-height: normal;
    float: left;
}

.user-status__image
{
    height: 79px;
    margin-bottom: -9px;
}

.user-status__utterance
{
    font-family: Georgia, serif;
    font-size: 28px;
    font-style: italic;
    color: #848484;
    padding-left: 60px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.user-status__author
{
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    padding-left: 63px;
}

.clear-block
{
    clear: both;
}

.interests
{
    width: 407px;
    padding: 0 0 0 19px;
    float: left;
    margin: 50px 0 0 0;
}

h3
{
    font-size: 24px;
    font-family: "Open Sans", serif;
    color: rgb(21, 169, 140);
    font-weight: 600;
    margin-bottom: 15px;
}

ul
{
    font-size: 19px;
    font-family: "Georgia", serif;
    color: rgb(85, 85, 85);
    line-height: 1.895;
    padding-left: 22px;
    margin-bottom: 45px;
}

ol
{
    font-size: 20px;
    font-family: "Georgia";
    color: rgb(85, 85, 85);
    line-height: 36px;
    padding: 1px 0 0 21px;
}

h1
{
    font-size: 48px;
    font-family: "Open Sans", serif;
    color: rgb(51, 51, 51);
    font-weight: bold;
    margin: 0 0 0 6px;
}

.user-content
{
    width: 590px;
    float: left;
    margin: 42px 0 0 0;
    padding: 0 0 0 1px;
}

.user-content__line
{
    margin: 29px 0 43px 2px;
}

.user-content__text 
{
    font-size: 19px;
    font-family: "Georgia", serif;
    color: rgb(85, 85, 85);
    line-height: 1.7;
    width: 560px;
    margin: 0 0 45px 2px;
}

h2
{
    font-size: 36px;
    font-family: "Open Sans", serif;
    color: rgb(51, 51, 51);   
    margin: 0 0 18px 0; 
}

.user-content__link
{
    margin: 47px 0 0 2px;
    font-size: 19px;
    font-family: "Georgia", serif;
    color: rgb(21, 169, 139);
}